
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 100%;
}

.imagen-principal{
    display: grid;
    grid-template-rows: 500px;
}

.contenedor__logo{
    display: flex;
    justify-content: center;
}

#home{
    background-color: rgb(15, 15, 15);
}

.logo{
    width: 290px;
    position: relative;
}

.link{
    transition: transform 0.3s ease-in-out;
}

/*HEADER*/

.menu{
    display: flex;
    justify-content: center;
    text-decoration: none;
    letter-spacing: 10px;
    text-align: center;
    gap: 30px;
    font-size: small;
}



a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.384);
}

a:hover{
    color: white;
}

ul{
    list-style-type: none;
}

.link-active{
    color: rgb(255, 255, 255);
}



/*       HEADER NEGRO         */
.link-negro{
    transition: transform 0.3s ease-in-out;
}

a{
    text-decoration: none;
}

.menu-negro{
    display: flex;
    justify-content: center;
    text-decoration: none;
    letter-spacing: 10px;
    gap: 30px;
    font-size: small;
}


.link-item-negro{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.219);
}

.link-item-negro:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.link-active-negro{
    color: rgb(0, 0, 0);
}
/*       HEADER NEGRO         */


/*GALLERY*/

.gallery__img:nth-of-type(1){
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    height: 100%;
    width: 100%;
}

.gallery__img:nth-of-type(2){
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    height: 100%;
    width: 100%;
}

.gallery__img:nth-of-type(3){
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    height: 100%;
    width: 100%;
}

.gallery__img:nth-of-type(4){
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    height: 100%;
    width: 100%;
}

.gallery__img:nth-of-type(5){
    grid-column: 3 / 4;
    grid-row: 3 / 6;
    height: 100%;
    width: 100%;
}

.gallery__img:nth-of-type(6){
    grid-column: 1 / 3;
    grid-row: 5 / 9;
    height: 100%;
    width: 100%;
}

.gallery__img:nth-of-type(7){
    grid-column: 3 / 4;
    grid-row: 6 / 9;
    height: 100%;
    width: 100%;
}

#gallery{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin: 50px 50px 0 50px;
}

.gallery__img{
    transition: transform 0.3s ease-in-out;
    transition: filter: 0.3s ease-in-out
}

.gallery__img:hover{
    transform: scale(1.01);
    filter: grayscale(2)
}

/*RESPONSIVE*/

@media (max-width: 786px) {
    #gallery{
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, 1fr);
    
    }
    
    .gallery__img:nth-of-type(1){
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        height: 100%;
        width: 100%;
    }
    
    
    .gallery__img:nth-of-type(2){
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        height: 100%;
        width: 100%;
    }
    
    .gallery__img:nth-of-type(3){
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        height: 100%;
        width: 100%;
    }
    
    .gallery__img:nth-of-type(4){
        grid-column: 1 / 3;
        grid-row: 3 / 5;
        height: 100%;
        width: 100%;
    }
    
    .gallery__img:nth-of-type(5){
        grid-column: 1 / 3;
        grid-row: 5 / 8;
        height: 100%;
        width: 100%;
    }
    
    .gallery__img:nth-of-type(6){
        grid-column: 1 / 3;
        grid-row: 8 / 10;
        height: 100%;
        width: 100%;
    }
    
    .gallery__img:nth-of-type(7){
        grid-column: 1 / 3;
        grid-row: 10 / 13;
        height: 100%;
        width: 100%;
    }
    
    .menu{
        display: flex;
        justify-content: center;
        text-decoration: none;
        letter-spacing: 5px;
        gap: 5px;
        color: white;
        font-size: 5px;
        padding-bottom: 50px;
    }

}

/*FOOTER*/
.footer{
    height: 645px;
    background-color: white;
    display: grid;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 50px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    position: absolute;
}

.marca-registrada{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 5px;
    grid-column: 2 / 4;
    grid-row: 9;
    text-align: start;
}

.sobre-nosotros{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 5px;
    grid-column: 8 / 10;
    grid-row: -3;
    text-align: end;
    line-height: 25px;
}

.text__sobre-nosotros{
    font-size: 12px;
}

.fb{
    position: relative;
    height: 20px;
    width: auto;
    grid-column: 10;
    grid-row: 9;
    margin: 5px;
}
.ig{
    position: relative;
    height: 20px;
    width: auto;
    margin: 5px;
}
.wpp{
    position: relative;
    height: 20px;
    width: auto;
    margin: 5px;
}



/*FOOTER NEGRO*/
.footer-negro{
    height: 645px;
    background-color: rgb(0, 0, 0);
    display: grid;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 50px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.marca-registrada-negro{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 5px;
    grid-column: 2 / 4;
    grid-row: 9;
    text-align: start;
}

.sobre-nosotros-negro{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 5px;
    grid-column: 8 / 10;
    grid-row: -3;
    text-align: end;
    line-height: 25px;
}

.text__sobre-nosotros-negro{
    font-size: 12px;
    color: white;
}

.fb-negro{
    position: relative;
    height: 20px;
    width: auto;
    grid-column: 10;
    grid-row: 9;
    margin: 5px;
}

.ig-negro{
    position: relative;
    height: 20px;
    width: auto;
    margin: 5px;
}
.wpp-negro{
    position: relative;
    height: 20px;
    width: auto;
    margin: 5px;
}


/*  RESPONSIVE  */


/* @media (max-width: 1100px) {
    .footer{
        height: 645px;
        background-color: white;

        justify-content: center;
        margin-top: 150px;
        margin-bottom: 50px;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }
    
    .marca-registrada{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 5px;
        grid-column: -8 / 6;
        grid-row: 9;
        text-align: cente;
    }
    
    .sobre-nosotros{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 5px;
        grid-column: 8 / 10;
        grid-row: -3;
        text-align: end;
        line-height: 25px;
    }
    
    .text__sobre-nosotros{
        font-size: 12px;
    }
    
    .fb{
        position: relative;
        height: 20px;
        width: auto;
        grid-column: 10;
        grid-row: 9;
        margin: 5px;
    }
    .ig{
        position: relative;
        height: 20px;
        width: auto;
        margin: 5px;
    }
    .wpp{
        position: relative;
        height: 20px;
        width: auto;
        margin: 5px;
    }
} */



/*INFO*/


.wrapper{
    width: 1400px;
    margin: 5% auto;
    display: flex;
    justify-content: center;
}
.box{
    height: 500px;
    width: 20%;
    float: left;
    overflow: hidden;
    position: relative;
    margin: 0 10px;
}

.img1{
    position: absolute;
    z-index: 2;
    transition: .4s;
    transform-origin: 50%, 50%;
    width: 100%;
}
.img2{
    filter: blur(20px);
    transform: scale(1.1);
    opacity: 1;
    transition: .4s;
    width: 100%;
}

/* ANIMACION */
.box:hover .img1{
    filter: blur(20px);
    transform: scale(1.1);
    opacity: 0;
}
.box:hover .img2{
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
}
/* ANIMACION */

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text-info{
    color: white;
    width: 1000px;
    font-size: 12px;
    letter-spacing: 2px;
}

.glyphicon{
    color: #2b2b2b;
}

.casas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}
.img__casas{
    grid-column: 2 / 3;
    margin-top: 100px;
}
.text__casas{
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    text-align: center;
    margin-top: 100px;
}

.muelle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

/*testimonios*/

.container-testimonio {
	width: 90%;
	max-width: 1200px;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	position: relative;
}

.container-testimonio::after {
	content: "";
	width: 2px;
	height: 100%;
	background: #2b2b2b;
	position: absolute;
	top: 0;
	left: calc(50% - 3px);
	z-index: 1;
}

.evento {
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
	position: relative;
}

.evento::after {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: #fff;
	border: 2px solid #2b2b2b;
	position: absolute;
	z-index: 2;
	top: calc(50% - 9px);
	left: calc(50% - 9px);
}

.fecha {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(42% + 20px);
	font-size: 12px;
	font-weight: normal;
}

.foto {
	width: 42%;
	border: 10px solid #fff;
	position: relative;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.foto::after {
	content: "";
	display: block;
	border: 20px solid transparent;
	border-left: 20px solid #fff;
	position: absolute;
	right: -50px;
	top: calc(50% - 20px);
}

.foto img {
	width: 100%;
	vertical-align: top;
}

.evento:nth-child(even) {
	flex-direction: row-reverse;
}

.evento:nth-child(even) .fecha {
	justify-content: center;
}

.evento:nth-child(even) .foto::after {
	content: "";
	border: 20px solid transparent;
	border-right: 20px solid #fff;
	right: initial;
	left: -50px;
}

/*testimonios*/

#contacto{
    background-image: url(../img/muelle\ blur.jpg);
    background-repeat: none;
    background-size: cover;
}

.container__casas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    grid-template-rows: 500px;
    grid-template-columns: 500px 500px;
    margin-top: 50px;
    color: white;
}

.datos {
    display: flex;
    min-height: 50vh;
    color: white;
}

.main__form form {
    padding: 2rem;
    text-align: center;
}


.main__input {
    display: block;
    width: 30rem;
    background: none;
    margin-top: 1rem;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    padding: 1rem;
    color: white;
    border-radius: .4rem .4rem 0 0;
}

.main__input:hover {
    background: rgba(255, 255, 255, 0.212);
}


.main__input--text {
    resize: none;
    color: white;
}

.main__form__reset {
    padding: .5rem;
    background: #ffffff23;
    border: none;
    border-radius: .4rem;
    color: white;
    margin-top: 1rem;
}

.main__form__send {
    padding: .5rem;
    background: #ffffff23;
    border: none;
    border-radius: .4rem;
    color: white;
}

.main__form__send:hover {
    background: rgb(255, 255, 255);
    color: #2b2b2b;
}

.main__form__reset:hover {
    background: rgb(255, 255, 255);
    color: #2b2b2b;
}

.contactanos{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    gap: 20px;
    margin-top: 50px;
}
