/*HEADER*/

.menu{
    display: flex;
    justify-content: center;
    text-decoration: none;
    letter-spacing: 10px;
    text-align: center;
    gap: 30px;
    font-size: small;
}

.link:hover{
    transform: scale(1.1);
}


a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.384);
}

a:hover{
    color: white;
}

ul{
    list-style-type: none;
}

.link-active{
    color: rgb(255, 255, 255);
}



/*       HEADER NEGRO         */
.link-negro{
    transition: transform 0.3s ease-in-out;
}

.menu-negro{
    display: flex;
    justify-content: center;
    text-decoration: none;
    letter-spacing: 10px;
    gap: 30px;
    font-size: small;
}

.link-negro:hover{
    transform: scale(1.1);
}


.link-item-negro{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.219);
}

.link-item-negro:hover{
    color: rgb(0, 0, 0);
}

ul{
    list-style-type: none;
}

.link-active-negro{
    color: rgb(0, 0, 0);
}
/*       HEADER NEGRO         */
